/* Shop.css */

.shop {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.shopTitle {
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  color: #333;
  border-bottom: 2px solid #ddd; /* Changed border color */
  padding-bottom: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product {
  border: 2px solid #ddd; /* Increased border size */
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.product img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-bottom: 2px solid #ddd; /* Changed border color and increased size */
  padding-bottom: 10px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 13px;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 5px 10px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.stock--indicator {
  position: relative;
  margin: 10px auto;
  background-color: greenyellow;
  border: 1px solid #ddd; /* Changed border color */
  border-radius: 10px;
  font-weight: bold;
}
